@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using Business.Dtos.Contact
@model List<Business.Models.Catalog.CourseViewModel>

@await Html.PartialAsync("~/Views/HomeIndexPartial/HeaderPartial.cshtml")


<div class="w3l-index-block4 pb-5">
    <div class="features-bg pb-lg-5 pt-lg-4 py-4">
        <div class="container">
            <div class="title-main text-center mx-auto mb-md-4">
                <h3 class="title-big">Oppdag våre spesialkurs</h3>
                <p class="sub-title mt-2">Lås opp ditt potensiale med våre ekspertstyrte spesialiserte kurs. Bli med oss for å utmerke deg innen ditt felt og transformere din fremtid.</p>
            </div>
            <div class="row">
                @foreach(var item in Model)
                {
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <div class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img style="width: 105px; height: 175px;" src="@item.StockImageUrl" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>NOK @item.CoursePrice</h6>
                                    <h4>@item.CourseName</h4>
                                    <p style="font-size: 10pt;">@item.CourseShortDescription</p>
                                    <br/>
                                    <div style="text-align: center">
                                        <a asp-action="CourseDetail" asp-controller="Home" asp-route-id="@item.CourseId" class="btn btn-secondary">Detaljer</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@await Html.PartialAsync("~/Views/HomeIndexPartial/AboutUsPartial.cshtml")
    
@*  @await Html.PartialAsync("~/Views/HomeIndexPartial/TeachersPartial.cshtml")*@

@await Component.InvokeAsync("Instructor")

<!-- testimonials -->
@await Component.InvokeAsync("Testimonial")

@await Html.PartialAsync("~/Views/HomeIndexPartial/ArticlesPartial.cshtml")