@model X.PagedList.IPagedList<Business.Models.Catalog.CourseViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_UserLayout";
}

  <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Online Courses</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Courses</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- banner bottom section -->
<div class="w3l-index-block4 py-md-5 py-4">
    <div class="features-bg py-lg-4">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a asp-action="CourseDetail" asp-controller="Home" asp-route-id="@item.CourseId"  class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="@item.StockImageUrl" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>@item.CoursePrice</h6>
                                    <h4>@item.CourseName</h4>
                                    <p>@item.CourseShortDescription</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <!-- pagination -->
            <div class="pagination-style">
                <ul class="page-pagination">
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li><a class="page-numbers @(i == Model.PageNumber ? "current" : "")" href="@Url.Action("Index", "Courses", new { page = i })" style="background-color: @(i == Model.PageNumber ? "#f50057" : "white")">@i</a></li>
                    }
                </ul>
            </div>
            <!-- //pagination -->
        </div>
    </div>
</div>
<!-- //banner bottom section -->
 @await Html.PartialAsync("~/Views/HomeIndexPartial/SpillAvVideoPartial.cshtml")
