@model List<Business.Models.Catalog.CourseViewModel>
@{
    ViewBag.Title = "title";
    Layout = "_InstructorLayout";
    int i = 0;
}
          <div class="content-wrapper">
            <div class="row" id="proBanner">
            </div>
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-school"></i>
                </span> Kurs
              </h3>
            </div>
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                       @if (Model.Any())
                              {
                                  <table class="table">
                                      <tr>
                                          <tr>
                                              <th>#</th>
                                              <th>Bilde</th>
                                              <th>Navn</th>
                                              <th>Prise</th>
                                              <th>Varighet</th>
                                              <th>Beskrivelse</th>
                                              <th>Opprettet dato</th>
                                          <th>Handling</th>
                                          <th>Handlig</th>
                                      </tr>
                                      @foreach (var item in Model)
                                      {
                                          
                                          <tr>
                                              @{i = i + 1;}
                                              <td>@i</td>
                                              <td><img src="@item.StockImageUrl" class="rounded-circle" style="max-width: 50px; max-height: 50px;" /></td>
                                              <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.CourseName</strong></td>
                                              <td>@item.CoursePrice</td>
                                              <td>@item.Feature.Duration</td>
                                              <td><span class="badge bg-label-primary me-1">@item.CourseDescription</span></td>
                                              <td> @(((DateTime)item.CourseCreatedDate).ToString("dd-MMM-yyyy"))</td>
                                              <td>
                                                  <a asp-action="Update" asp-area="Instructor" asp-controller="Course" asp-route-id="@item.CourseId" class="btn btn-warning"><i class="fa fa-edit"></i> Rediger</a></td>
                                              <td>
                                                  <a asp-action="Delete" asp-area="Instructor" asp-controller="Course" asp-route-id="@item.CourseId" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')"><i class="fa fa-trash"></i> Slett</a>
                                              </td>
                                              
                                          </tr>
                                      }
                                  </table>
                                  <br/>
                                 
                              }  
                              else
                              {
                                  <div class="alert alert-info">
                                        <strong>Info!</strong> Ingen kurs funnet.
                                  </div>
                              }
                        <a asp-action="Create" asp-area="Instructor" asp-controller="Course" class="btn btn-primary"><i class="mdi mdi-plus"></i> Legg til nytt kurs</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
       