@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
    int i = 0;
}

@model List<Business.Models.Order.OrderViewModel>

<div class="content-wrapper">
    <div class="row" id="proBanner">
    </div>
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-school"></i>
            </span> Bestillingshistorikk
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.Any())
                        {
                            <table class="table" table-striped table-bordered>
                                    <tr>
                                        <th>#</th>
                                        <th>BestillingsNummer</th>
                                        <th>Dato</th>
                                        <th>Detaljer</th>
                                    </tr>
                                
                                    @foreach (var item in Model)
                                    {
                                        <div class="container">
                                            <tr>
                                                @{i = i + 1;}
                                                <td>@i</td>
                                                <td>@item.Id</td>
                                                <td>@item.CreatedTime</td>
                                                <td>
                                                    <table class="table table-success">
                                                        <tr>
                                                            <th>Bilde</th>
                                                            <th>Navn</th>
                                                            <th>Pris</th>
                                                        </tr>
                                                        
                                                        @foreach (var orderItem in item.OrderItems)
                                                        {
                                                            <tr>
                                                                <td><img src="@orderItem.PictureUrl" class="rounded-circle" style="max-width: 50px; max-height: 50px;" /></td>
                                                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@orderItem.ProductName</strong></td>
                                                                <td>@orderItem.Price</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </td>
                                            </tr>
                                        </div>

                                    }
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <strong>Info!</strong> Ingen bestillinger funnet.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

